doctype html
//
    Future Imperfect by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        include parts/head
    body
        #app
            #wrapper
                include parts/header
                include parts/menu
    
                #main
                    block content
                
                include parts/sidebar
        
        include parts/footer
