extends layout

block content
	article.post
		header
			.title
				h2
					a(href='#') Magna sed adipiscing
				p Lorem ipsum dolor amet nullam consequat etiam feugiat
			.meta
				time.published(datetime='2015-11-01') November 1, 2015
				a.author(href='#')
					span.name Jane Doe
					img(src='images/avatar.jpg', alt='')
		span.image.featured
			img(src='images/pic01.jpg', alt='')
		p
			| Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
		p
			| Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque mattis nunc sit amet tortor pellentesque, non placerat neque viverra.
		footer
			ul.stats
				li
					a(href='#') General
				li
					a.icon.fa-heart(href='#') 28
				li
					a.icon.fa-comment(href='#') 128