.product_desc{
	clear:both;
	margin-top:30px;
}
.resp-tabs-list li {
	font-size:19px;
	display: inline-block;
	padding: 13px 15px;
	margin: 0;
	list-style: none;
	cursor: pointer;
	float: left;
    margin-right: 5px;
    border-radius: 2px 2px 0 0;
}
.resp-tab-item{
	background:#CBCBCB;
	color:#585858;
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);
}
.resp-tabs-list li:hover {
	color: #E4292F;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 15px;
}
.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
	border-bottom: none;
	background: #fff;
	color:#E4292F;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.resp-tab-content {
   border: 1px solid #ccc;
}
h2.resp-accordion {
	font-size:1em;
	border: 1px solid #ccc;
	margin: 0px;
	padding: 10px 15px;
	background:#E0E0E0;
	margin:10px 0;
}
h2.resp-accordion:hover{
	color: #E4292F;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
}
