header#header
    h1
        a(href='/') Mol BlogEx
    nav.links
        ul
            li
                a(href='/category/General') General
            li
                a(href='/category/Tech') Tech
            li
                a(href='/category/Social') Social
            li
                a(href='/category/News') News
    nav.main
        ul
            li.search
                a.fa-search(href='#search') Search
                form#search(method='get', action='/search')
                    input(type='text', name='query', placeholder='Search', value=query)
            li.menu
                a.fa-bars(href='#menu') Menu