title= title || 'Moleculer Blog Example'
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
//if lte IE 8
    script(src='/assets/js/ie/html5shiv.js')
link(rel='stylesheet', href='/assets/css/main.css')
//if lte IE 9
    link(rel='stylesheet', href='/assets/css/ie9.css')
//if lte IE 8
    link(rel='stylesheet', href='/assets/css/ie8.css')