header#header
    h1
        a(href='/') Blog Example
    nav.links
        ul
            li
                a(href='/') Lorem
            li
                a(href='#') Ipsum
            li
                a(href='#') Feugiat
            li
                a(href='#') Tempus
            li
                a(href='#') Adipiscing
    nav.main
        ul
            li.search
                a.fa-search(href='#search') Search
                form#search(method='get', action='#')
                    input(type='text', name='query', placeholder='Search')
            li.menu
                a.fa-bars(href='#menu') Menu