section#menu
    // Search
    section
        form.search(method='get', action='#')
            input(type='text', name='query', placeholder='Search')
    // Links
    section
        ul.links
            li
                a(href='#')
                    h3 Lorem ipsum
                    p Feugiat tempus veroeros dolor
            li
                a(href='#')
                    h3 Dolor sit amet
                    p Sed vitae justo condimentum
            li
                a(href='#')
                    h3 Feugiat veroeros
                    p Phasellus sed ultricies mi congue
            li
                a(href='#')
                    h3 Etiam sed consequat
                    p Porta lectus amet ultricies
    // Actions
    section
        ul.actions.vertical
            li
                a.button.big.fit(href='#') Log In
