ul.actions.pagination
	li
		if page > 1
			a.button.big.previous(href='?page=' + (page - 1)) Previous Page
		else
			a.disabled.button.big.previous(href='') Previous Page
	li
		if (page < totalPages)
			a.button.big.next(href='?page=' + (page + 1)) Next Page
		else
			a.disabled.button.big.next(href='#') Next Page